:root {
  --orange: #ee8d41;
  --line: #ddd2bf;
  --dark:#1c1a17;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--orange);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 20px;
  background: linear-gradient(180deg, #faf7f3 0%, #f7f2ec 100%);
  border-radius: 22px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border: 1px solid var(--line);
  color: var(--dark);
  border-radius: 18px;
}

.header-left {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}

ul.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

ul.nav-links a {
    font-size: 14px;
    font-weight: 500;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-icons a i {
    font-size: 20px;
}

.logo {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 1px;
}

.logo span {
  color: var(--orange);
}
